<header>
    <object class="logo" data="{{logo}}" type="image/svg+xml" alt="{{title}}">
      <img src={{logo_fallback}} alt="{{title}}"/>
    </object>
    <h2 class="subtitle"> Helping you and your dog become the team that you deserve to be </h2>

    <img class="header" src="{{image}}" alt="headline">
</header>
